[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
