[alias]
	st = status
	ci = commit
	co = checkout
	di = diff
	dc = diff --cached
	aa = add --all
	amend = commit --amend -C HEAD
  l = log --graph --pretty=format:'%Cgreen%h%Cblue%d %C(white)%s %Cblue%an %C(white)[%ar]'
  la = log --all --graph --pretty=format:'%Cgreen%h%Cblue%d %C(white)%s %Cblue%an %C(white)[%ar]'
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true
[user]
	name = Jimmy Cuadra
	email = jimmy@jimmycuadra.com
	useconfigonly = true
	signingkey = 0xE228F43A9BF6B55C
[branch]
	autosetuprebase = always
[push]
	default = upstream
[transfer]
	fsckobjects = true
[diff]
  compactionHeuristic = true
[pull]
	rebase = true
