# Ignore everything by default.
/*

# Ignore paths under .config by default.
!/.config
# Allow specific paths under .config to be included.
/.config/*

# Ignore paths under .config/nvim by default.
!/.config/nvim
# Allow specific paths under .config/nvim to be included.
/.config/nvim/*

# Ignore paths under .vim by default.
!/.vim
# Allow specific paths under .vim to be included.
/.vim/*

# Allow specific paths.
!/.bash_profile
!/.bashrc
!/.bundle/config
!/.config/file
!/.config/bat
!/.config/nvim/.stylua.toml
!/.config/nvim/init.lua
!/.config/nvim/init.lua
!/.config/nvim/lua
!/.gemrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.irbrc
!/.railsrc
!/.rdebugrc
!/.stack/config.yaml
!/.tmux.conf
!/.vim/layers
!/.vimrc
