# Ignore everything by default.
/*

# Ignore .config subdirectories by default, but allow individual subdirectories to be included.
!/.config
/.config/*

!/.vim
/.vim/*

!/.bash_profile
!/.bashrc
!/.bundle/config
!/.config/file
!/.gemrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.irbrc
!/.railsrc
!/.rdebugrc
!/.stack/config.yaml
!/.tmux.conf
!/.vim/layers
!/.vimrc
